{% extends "tabChecker/header.html" %}
{% load crispy_forms_filters %}
{% block content %}
{% load crispy_forms_tags %}

<div class="contianer mx-auto pt-32 px-44">
  <div>
    <h1 class="text-right">Create Event</h1>

    <div class="grid grid-cols-2 grid-rows-4 gap-md bg-bg2 rounded-xl py-xs px-xs">
      <div class="text-4xl">

        {{ f.title | as_crispy_field }}

      </div>

      <div class="text-4xl">

        {{ f.location | as_crispy_field }}


      </div>

      <div class="text-4xl">


        {{ f.maxTix | as_crispy_field }}


      </div>

      <div class="text-4xl">
        {{ f.price | as_crispy_field }}
      </div>
      <div class="col-span-2">
        <div class="text-4xl">
         
         
          {{ g.date | as_crispy_field}}

        </div>

      </div>




      <div class="col-span-2 items-center text-center">
        <button class="bg-purple btn rounded btn-xl text-bold w-max px-xl py-1" type="submit" valie="Submit">
          Submit </button>

      </div>
    </div>


  </div>
</div>




{% endblock content %}