{% extends "tabChecker/header.html" %}
{% load crispy_forms_filters %}
{% block content %}
{% load crispy_forms_tags %}

<div class="contianer mx-auto pt-32 px-44">
  <div>
    <h1 class="text-right">Create Event</h1>

    <div class="grid grid-cols-2 grid-rows-4 gap-md bg-bg2 rounded-xl py-xs px-xs">
      <div class="text-4xl">
        <label for = "title"> Title:</label>
        <input class="event-input max-w-sm" name="title" id="input" maxlength="50" required>
      </div>

      <div class="text-4xl">
        <label for="location"> Location:

          {{ f.location }}

        </label>
      </div>


    </div>
  </div>
</div>

<div class="row gx-3">
  <div class="col-auto">
    <button class="btn rounded btn-md text-bold" type="submit" valie="Submit">
      Submit </button>
  </div>
</div>

</div>
</div>

</div>
{% endblock content %}