{% extends "tabChecker/header.html" %} {% load crispy_forms_filters %} 
{% block content %} {% load crispy_forms_tags %}

<!--Login-->

<div class="container py-5">
  <div class="login-form container py-5">
    <div class="overlap-group3">
      <h1 class="title">TabChecker</h1>
      <div class="hospitality-south-presents">Hospitality South Presents:</div>
    </div>
    <div class="overlap-group2">
      <div class="form-stuff">
        <div class="form-group">{% csrf_token %} {{ login_form.username }}</div>
        <div class="form-group">{{ login_form.password }}</div>
      </div>
    </div>

    <div class="login-rectangle">
      <button class="login-button">Login</button>
    </div>
  </div>
</div>

{% endblock content %}
