.bg-primary {
    background-color: #f5b301 !important;
}

.bg-darkest {
    background-color: #6b6e70;
}

.bg-darker {
    background-color: #3b3b3b!important;
}

.bg-dark {
    background-color: #474b4f !important;
}

.vectors {
    height: 224px;
    margin-top: 83px;
    width: 1728px;
}

@import
url("https://fonts.googleapis.com/css?family=Montserrat:400,500|Lexend+Deca:400");

.login-form {

  height: 500px;
  width: 576px;
}


.section-forgot {
  align-items: flex-start;
  display: flex;
  margin-left: 1.78px;
  margin-top: 31px;
  min-width: 578px;
}

.overlap-group {
  height: 20px;
  position: relative;
  width: 134px;
}

.remember-me {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-weight: 500;
  left: 17px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 117px;
}

.rectangle-1 {
  background-color: #515151;
  border-radius: 5px;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 18px;
}

.forgot-password {
  color: var(--green-smoke);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-weight: 500;
  letter-spacing: 0;
  margin-left: 313px;
  margin-top: 0;
  min-height: 14px;
  text-align: center;
  width: 129px;
}

.overlap-group1 {
  align-items: flex-start;
  background-color: var(--stack);
  border-radius: 10px;
  display: flex;
  height: 72px;
  margin-top: 31px;
  min-width: 576px;
  padding: 19.1px 3px;
}

.password {
  height: 26px;
  letter-spacing: 0;
  line-height: 20px;
  text-align: center;
  width: 125px;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.overlap-group2 {
  align-items: flex-start;
  border-radius: 10px;
  justify-content:center;
  display: flex;
  height: auto;
  min-width: 533px;
  padding: 19.1px 0px;
  width: auto;
}

.login {
  height: 26px;
  letter-spacing: 0;
  line-height: 20px;
  text-align: center;
  width: 75px;
}

.overlap-group3 {
  height: 150px;
  position: relative;
  width: 546px;
}

.title {
  color: white;
  font-size: 86px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  width: 553px;
  padding-top: 35px;
}

.hospitality-south-presents {
  color: #b6b6b6;
  font-size: var(--font-size-l);
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 553px;
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 197px;
}
.footer img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}
.box-2{
    background-color: white;

    margin: 5px;
}

.login-form-container
{
    text-align: center;
    margin-top: 10%;


}

.login-form-container h1
{
    color: black;
    font-size: 24px;
    padding: 20px;
}


.login-button{
    background-color: rgb(126, 126, 105);
    border-radius: 10px;
    border: none;
    height: 59px;
    position: absolute;
    width: 546px;
    padding: 0px;
}

#id_username, #id_password{
    outline: none;
    background: none;
    border: none;
    width: 576px;
    background-color: gray;
    border-radius: 25px;
    padding: 10px;
    height: 65px;
    margin-bottom: 10px;


}



.form-stuff button:hover,
.form-stuff button:focus{
  outline: none;
  background-color: rgb(97, 97, 81);
}





/* Place Holder CSS */
::-webkit-input-placeholder {
  color: rgb(255, 255, 255);
  opacity: 0.5;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:-moz-placeholder {
  color: #FFF;
  opacity: 0.5;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
::-moz-placeholder {
  color: #FFF;
  opacity: 0.5;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:-ms-input-placeholder {  
  color: #FFF;
  opacity: 0.5;
  -ms-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}

/* Place Holder CSS for Focus */
:hover::-webkit-input-placeholder {
  opacity: 0.75;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:hover:-moz-placeholder {
  opacity: 0.75;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:hover::-moz-placeholder {
  opacity: 0.75;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:hover:-ms-input-placeholder {  
  opacity: 0.75;
  -ms-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}

/* Place Holder CSS for Focus */
:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:focus:-ms-input-placeholder {  
  opacity: 0;
  -ms-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
